.menu1 li {
    list-style: none;
    line-height: 50px;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid #3a975d;
}
.menu1 li:last-child {
    border-bottom: none;
}
.menu1 ul.menu2 li {
    list-style: none;
    line-height: 20px;
}
.menu1 ul.menu2 li a {
    color: #3a975d;
}
