<div class="container-fluid">
  <div class="tab-content">
    <div style="padding: 10px" *ngIf="package && sender">
      <h3 class="page-header" style="margin-top:40px;">PACKAGE DETAIL</h3>
      <p>Barcode: {{package.barcode}}</p>
      <p>Weight: {{package.weight}}</p>
      <p>Package Sender Name: {{ sender.firstName }} {{ sender.lastName }}</p>
      <p>Package Receiver Name: {{ package.receiverName }}</p>
      <p>Package Receiver Address: {{ package.receiverAddress }}</p>
    </div>
    <table class="table table-bordered table-responsive-md">

      <thead>
        <tr>
          <th>Status Of Transfer</th>
          <th>Location</th>
          <th>Shipper Name</th>
          <th>Warehouse</th>
        </tr>
      </thead>

      <tbody *ngIf="history">
        <ng-container *ngFor="let pkg of history">
          <tr>
            <td>{{ pkg.status }}</td>
            <td>{{ pkg.location && pkg.location.lat }} - {{ pkg.location && pkg.location.lon }}</td>
            <td>{{ pkg.vehicle | slice:37 }}</td>
            <td>{{ pkg.warehouse | slice:31 }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>